body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #03045e;
    height: 5vh;
}

.nav-item{

}

.nav-link{
    color: #ffffff;
    font-weight: 600;
    height: 5vh;
}

.nav-link:hover{
    color: #fff;
    background-color: #0096c7;
}

.active{
    background-color: #0077b6;
}

@media screen and (max-width: 480px) {
    .header{
        height: 15vh;
    }
    .nav-link{
        width: 50vh;
    }
}